<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style = "text-align: center; background-color: #EFF5FB;'">
    <fieldset>
      <legend><h2>Escriba su texto</h2></legend>
      <form class="" action="../dynamics/php/cifradocesar.php" method="post">
        <p>

        <input type = "text" name="sutexto" value="" placeholder="escriba con cuidado"  maxlength="250"
        style = "resize: none;" maxlength="250" pattern = "^([A-Za-z]|[\¿]|[?]|[,]|[.]|[ ])*">
        <!--Se aplica Regex para permitir solo ciertos caracteres -->
        <br>
        <input type="submit" name="" value="Enviar">
        </p>
      </form>
    </fieldset>
  </body>
</html>
